# Machine Translation

# 1)- Importing key modules

In [1]:
#support both Python 2 and Python 3 with minimal overhead.
from __future__ import absolute_import, division, print_function
#ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# What's life without style :). So, let's add style to our dataframes
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
import string 
from string import digits
from collections import Counter
import re 
from sklearn.utils import shuffle
import pandas as pd 
from pickle import dump
from pickle import load
from unicodedata import normalize
import matplotlib.pyplot as plt 
%matplotlib inline
pd.set_option('display.max_colwidth', 200)

In [4]:
# first install: pip install version_information
%reload_ext version_information
%version_information pandas,re,sklearn, matplotlib

Software versions
Python 3.6.3 64bit [MSC v.1900 64 bit (AMD64)]
IPython 7.4.0
OS Windows 10 10.0.16299 SP0
pandas 0.23.4
re 2.2.1
sklearn 0.20.3
matplotlib 2.1.0
Tue Sep 10 16:58:50 2019 W. Europe Daylight Time

# 2)- Loading data

We have data from 2009 to 2016.

In [5]:
# load doc into memory
def load_doc(filename):
    # open the file as read only
    file = open(filename, mode='rt', encoding='utf-8')
    # read all text
    text = file.read()
    # close the file
    file.close()
    return text

In [6]:
# split a loaded document into sentences
def to_sentences(doc):
    return doc.strip().split('\n')

In [7]:
# shortest and longest sentence lengths
def sentence_lengths(sentences):
    lengths = [len(s.split()) for s in sentences]
    return min(lengths), max(lengths)

### 2.1)- For year 2009

In [8]:
# load English data
filename = 'newstest2009.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('English data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

# load German data
filename = 'newstest2009.de'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('German data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

English data: sentences=2525, min=1, max=108
German data: sentences=2525, min=1, max=110

It is important to notice that sentence length is same. So, we have a balanced data.

We shall check this on all years

### 2.2)-For 2010

In [9]:
# load English data
filename = 'newstest2010.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('English data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

# load German data
filename = 'newstest2010.de'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('German data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

English data: sentences=2489, min=1, max=74
German data: sentences=2489, min=1, max=86

### 2.3)-For year 2011

In [10]:
# load English data
filename = 'newstest2011.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('English data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

# load German data
filename = 'newstest2011.de'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('German data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

English data: sentences=3003, min=1, max=93
German data: sentences=3003, min=1, max=92

### 2.4)-For year 2012

In [11]:
# load English data
filename = 'newstest2012.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('English data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

# load German data
filename = 'newstest2012.de'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('German data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

English data: sentences=3003, min=1, max=114
German data: sentences=3003, min=1, max=101

### 2.5)-For year 2013

In [12]:
# load English data
filename = 'newstest2013.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('English data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

# load German data
filename = 'newstest2013.de'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('German data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

English data: sentences=3000, min=1, max=82
German data: sentences=3000, min=1, max=85

### 2.6)-For year 2014

In [13]:
# load English data
filename = 'newstest2014.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('English data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

# load German data
filename = 'newstest2014.de'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('German data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

English data: sentences=3003, min=1, max=68
German data: sentences=3003, min=1, max=64

### 2.7)- For year 2015

In [14]:
# load English data
filename = 'newstest2015.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('English data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

# load German data
filename = 'newstest2015.de'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('German data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

English data: sentences=2169, min=1, max=71
German data: sentences=2169, min=1, max=72

### For year 2016

In [15]:
# load English data
filename = 'newstest2016.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('English data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

# load German data
filename = 'newstest2016.de'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('German data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

English data: sentences=2999, min=1, max=83
German data: sentences=2999, min=1, max=88

**All datasets have balanced sentences for English and German version**

# 2)- Combine Files

- We can do this whole process on each file and then use one dataset pair for modeling i.e German 2015, English 2015.

- Or we can combine all these files and then apply these above discussed preprocessing methods on combined data. 

-  We may end up with a huge data so, we need to use random sample of data to train our model.

- Finally, I personally like to work with dataframes and like to see files as form of matrix or vector. So, I will convert these files into dataframes then combine both English and German translation parts in rows and columns. So, they look agreeable to me.

In [16]:
df_en_2009= pd.read_csv('newstest2009.en', encoding='utf-8', names=['eng'])
df_en_2009.shape

(2424, 1)

In [17]:
df_ger_2009= pd.read_csv('newstest2009.de',encoding='utf-8', names=['ger'])
df_ger_2009.shape

(2394, 1)

In [18]:
# load English data
filename = 'newstest2009.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('English data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

# load German data
filename = 'newstest2009.de'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('German data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

English data: sentences=2525, min=1, max=108
German data: sentences=2525, min=1, max=110

# Note

In our pandas reading method, we have an issue. we do not have same lengths. After inspection, I found that **Unicode Character 'NEXT LINE (NEL)' (U+0085)** issue in our german file. I first tried to use replace() function so that I may change these unicode characters with \n. I got more sentences than I wanted.So, I went to my old friend stackoverflow who told me "csv.QUOTE_NONE" solution

https://stackoverflow.com/questions/51859373/python-pandas-misses-some-end-of-line-characters-while-loading-csv-file

In [19]:
# my own home made idea
"""


if __name__ == '__main__':
    with open('newstest2009.de', 'rt', encoding='utf8') as r, \
         open('newstest2009.de.fix', 'wt', encoding='utf8') as w:
        for line in r:
            if line == '':
                break
            line = line.replace('\u0085', '')
            w.write(line)
            
            
"""

"\n\n\nif __name__ == '__main__':\n    with open('newstest2009.de', 'rt', encoding='utf8') as r,          open('newstest2009.de.fix', 'wt', encoding='utf8') as w:\n        for line in r:\n            if line == '':\n                break\n            line = line.replace('\x85', '')\n            w.write(line)\n            \n            \n"

In [20]:
import csv
df_en_2009= pd.read_csv('newstest2009.en', encoding='utf-8',quoting = csv.QUOTE_NONE, names=['eng'])
df_en_2009.shape

(2525, 1)

In [21]:
df_ger_2009= pd.read_csv('newstest2009.de',encoding='utf-8',quoting = csv.QUOTE_NONE, names=['ger'])
df_ger_2009.shape

(2525, 1)

**Perfect. Problem solved**

### Combine english and german version

In [22]:
df_combine_2009=pd.concat([df_en_2009, df_ger_2009], axis=1, join='inner') # to adjust automatically row labels i.e index
df_combine_2009.shape

(2525, 2)

In [23]:
df_combine_2009.head(3)

,eng,ger
0,Prague Stock Market falls to minus by the end of the trading day,Die Prager Börse stürzt gegen Geschäftsschluss ins Minus.
1,After a sharp drop in the morning,Nach dem steilen Abfall am Morgen konnte die Prager Börse die Verluste korrigieren.
2,Transactions with stocks from the Czech Energy Enterprise (ČEZ) reached nearly half of the regular daily trading.,Die Transaktionen mit den Aktien von ČEZ erreichten fast die Hälfte des normalen Tagesgeschäfts.

In [24]:
df_combine_2009.tail(5)

,eng,ger
2520,Verdant has said that it has a long list of clients waiting for the necessary authorisations to benefit from the energy.,Laut Verdant wartet bereits eine lange Schlange von möglichen Klienten auf die nötigen Autorisierungen um diese Energiequellen zu nutzen.
2521,After the waves,Erst die Wellen
2522,Particular interest,Ein besonderes Interesse verdient laut dem Institut für Stromgewinnungsforschung augenblicklich das Potenzial
2523,Even though it is an intermittent phenomenon,Wenngleich es sich auch um ein unregelmäßiges Phänomen handelt
2524,It's exactly on tidal energy that states such as New York,Gerade die Gezeitenenergie ist es

**Here we have combined one file. Let's us combine all of dataset in form of dataframes with columns (showing german and english lang text) and rows.**

### 5a)- Combine all english version

In [25]:
df_en_2010= pd.read_table('newstest2010.en', encoding='utf-8',quoting = csv.QUOTE_NONE, names=['eng'])
df_en_2011= pd.read_table('newstest2011.en', encoding='utf-8',quoting = csv.QUOTE_NONE, names=['eng'])
df_en_2012= pd.read_table('newstest2012.en', encoding='utf-8',quoting = csv.QUOTE_NONE, names=['eng'])
df_en_2013= pd.read_table('newstest2013.en', encoding='utf-8',quoting = csv.QUOTE_NONE, names=['eng'])
df_en_2014= pd.read_table('newstest2014.en', encoding='utf-8',quoting = csv.QUOTE_NONE, names=['eng'])
df_en_2015= pd.read_table('newstest2015.en', encoding='utf-8',quoting = csv.QUOTE_NONE, names=['eng'])
df_en_2016= pd.read_table('newstest2016.en', encoding='utf-8',quoting = csv.QUOTE_NONE, names=['eng'])

In [26]:
print("shape of 2010 English data", df_en_2010.shape)
print("shape of 2011 English data",df_en_2011.shape)
print("shape of 2012 English data",df_en_2012.shape)
print("shape of 2013 English data",df_en_2013.shape)
print("shape of 2014 English data",df_en_2014.shape)
print("shape of 2015 English data",df_en_2015.shape)
print("shape of 2016 English data",df_en_2016.shape)

shape of 2010 English data (2489, 1)
shape of 2011 English data (3003, 1)
shape of 2012 English data (3003, 1)
shape of 2013 English data (3000, 1)
shape of 2014 English data (3003, 1)
shape of 2015 English data (2169, 1)
shape of 2016 English data (2999, 1)

In [27]:
df_eng_all=pd.concat([df_en_2009,df_en_2010,df_en_2011,df_en_2012,df_en_2013,df_en_2014,df_en_2015,df_en_2016], ignore_index=True)

In [28]:
df_eng_all.head()

                                                                                                                 eng
0                                                   Prague Stock Market falls to minus by the end of the trading day
1                                                                                  After a sharp drop in the morning
2  Transactions with stocks from the Czech Energy Enterprise (ČEZ) reached nearly half of the regular daily trading.
3           The Prague Stock Market immediately continued its fall from Monday at the beginning of Tuesday's trading
4                                           This time the fall in stocks on Wall Street is responsible for the drop.

In [29]:
print("shape of combined English version is", df_eng_all.shape)

shape of combined English version is (22191, 1)

### 5b)- Combine all German version

In [30]:
# reading German data
df_ger_2010= pd.read_table('newstest2010.de', encoding='utf-8', quoting = csv.QUOTE_NONE , names=['ger'])
df_ger_2011= pd.read_table('newstest2011.de', encoding='utf-8', quoting = csv.QUOTE_NONE , names=['ger'])
df_ger_2012= pd.read_table('newstest2012.de', encoding='utf-8', quoting = csv.QUOTE_NONE , names=['ger'])
df_ger_2013= pd.read_table('newstest2013.de', encoding='utf-8', quoting = csv.QUOTE_NONE , names=['ger'])
df_ger_2014= pd.read_table('newstest2014.de', encoding='utf-8', quoting = csv.QUOTE_NONE , names=['ger'])
df_ger_2015= pd.read_table('newstest2015.de', encoding='utf-8', quoting = csv.QUOTE_NONE , names=['ger'])
df_ger_2016= pd.read_table('newstest2016.de', encoding='utf-8', quoting = csv.QUOTE_NONE , names=['ger'])

In [31]:
print("shape of 2010 German data",df_ger_2010.shape)
print("shape of 2011 German data",df_ger_2011.shape)
print("shape of 2012 German data",df_ger_2012.shape)
print("shape of 2013 German data",df_ger_2013.shape)
print("shape of 2014 German data",df_ger_2014.shape)
print("shape of 2015 German data",df_ger_2015.shape)
print("shape of 2016 German data",df_ger_2016.shape)

shape of 2010 German data (2489, 1)
shape of 2011 German data (3003, 1)
shape of 2012 German data (3003, 1)
shape of 2013 German data (3000, 1)
shape of 2014 German data (3003, 1)
shape of 2015 German data (2169, 1)
shape of 2016 German data (2999, 1)

In [32]:
df_ger_all=pd.concat([df_ger_2009,df_ger_2010,df_ger_2011,df_ger_2012,df_ger_2013,df_ger_2014,df_ger_2015,df_ger_2016], ignore_index=True)

In [33]:
df_ger_all.head()

                                                                                                ger
0                                         Die Prager Börse stürzt gegen Geschäftsschluss ins Minus.
1               Nach dem steilen Abfall am Morgen konnte die Prager Börse die Verluste korrigieren.
2  Die Transaktionen mit den Aktien von ČEZ erreichten fast die Hälfte des normalen Tagesgeschäfts.
3    Die Prager Börse knüpfte gleich zu Beginn der Dienstagsgeschäfte an den Einbruch vom Montag an
4                                        Diesmal lag der Grund für den Einbruch an der Wall Street.

In [34]:
print("shape of combined German version is", df_ger_all.shape)

shape of combined German version is (22191, 1)

### 5c)- Join english and german versions

In [35]:
# combine into rows and columns dataframe

df_combine=pd.concat([df_eng_all,df_ger_all], axis=1, join='inner') # to adjust automatically row labels i.e index
df_combine.head(15)

,eng,ger
0,Prague Stock Market falls to minus by the end of the trading day,Die Prager Börse stürzt gegen Geschäftsschluss ins Minus.
1,After a sharp drop in the morning,Nach dem steilen Abfall am Morgen konnte die Prager Börse die Verluste korrigieren.
2,Transactions with stocks from the Czech Energy Enterprise (ČEZ) reached nearly half of the regular daily trading.,Die Transaktionen mit den Aktien von ČEZ erreichten fast die Hälfte des normalen Tagesgeschäfts.
3,The Prague Stock Market immediately continued its fall from Monday at the beginning of Tuesday's trading,Die Prager Börse knüpfte gleich zu Beginn der Dienstagsgeschäfte an den Einbruch vom Montag an
4,This time the fall in stocks on Wall Street is responsible for the drop.,Diesmal lag der Grund für den Einbruch an der Wall Street.
5,The reaction of the market to the results of the vote in the American House of Representatives,Auch in Tschechien zeigt sich so die Reaktion des Marktes auf das Ergebnis der Abstimmung des amerikanischen Repräsentantenhauses
6,Stocks fall in Asia,Fall der Aktien in Asien
7,Stocks in the Asian markets experienced a dramatic drop on Tuesday,Einen dramatischen Fall erlebten am Dienstag die Aktien an den Börsen in Asien
8,The Hang Seng Index of the Hong Kong Stock Exchange wrote off nearly four percent during the day,Der Index der Hang Seng Börse in Hongkong verlor im Laufe des Geschäftstages fast vier Prozentpunkte
9,The Hang Seng China Enterprises Index,Der Index Hang Seng China Enterprises
10,Stocks on the market in Sydney lost more than five percent,Die Aktien an der Börse in Sydney verloren mehr als fünf Prozent
11,The stock exchange in Taiwan dropped by 3.6 percent according to the local index.,Die Börse in Taiwan sank nach dem dortigen Index um 3
12,"""The timing of the bailout action in the USA is uncertain and it will influence financial markets all over the world","""Das Timing für die Rettungsaktion in den USA ist unsicher und wird die Finanzmärkte weltweit beeinflussen"""
13,Despite the fact that it is a part of China,Hongkong bestimmt
14,Hong Kong has interest rates at the same level as the United States.,Die Zinssätze in Hongkong bewegen sich auf demselben Niveau wie die in den Vereinigten Staaten.

In [36]:
# checking values at random
df_combine.sample(15)

,eng,ger
7456,In order to get out of this impasse he therefore suggests that Quebec should give a special mandate to the General Verifier for the latter to inquire into collusion and corruption.,"Um aus dieser Sackgasse herauszukommen, schlägt er dem Quebec vor, der Finanzprüfungskontrolle ein spezielles Mandat einzuräumen, damit diese über Korruption und geheime Absprachen entsprechende N..."
6393,Opponents can still appeal the project to the City Council.,Gegner können beim Stadtrat immer noch Einspruch gegen das Projekt einlegen.
7230,"In Ecatepec, with signs of torture and tied of feet and hands two bodies were found inside a taxi left behind the Center of Justice of the colony San Agustín.",In Ecatepec wurden zwei an Händen und Füßen gefesselte Körper mit Folterspuren im Innern eines hinter dem Justizzentrum der Siedlung San Agustín abgestellten Taxis gefunden.
4238,"With this money, the colleges are, in particular, to set up tutor programmes and course consultations as well as strengthen exams and foreign offices.",Von dem Geld sollen die Hochschulen vor allem Tutorenprogramme einrichten und Studienberatung sowie Prüfungs- und Auslandsämter stärken.
20072,"Taking on Pakistan in the United Arab Emirates is a tough assignment but after seeing the squad England have selected for the tour, a repeat of the 3-0 Test series defeat suffered last time does n...","Auf Pakistan in den Vereinigten Arabischen Emiraten zu stoßen, ist eine schwierige Aufgabe, aber wenn man den Kader, den England für die Tour ausgewählt hat, sieht, steht eine Wiederholung der 3-0..."
7816,"The only certainty: The BCE would keep its principal rate of interest unchanged at 1%, historically the lowest since May 2009.","Einzige Gewissheit: Die EZB wird ihren Leitzins unverändert bei 1% belassen, dem historisch niedrigsten Niveau seit Mai 2009."
20820,"If there are more refugees, we can manage.","Sollten es mehr Flüchtlinge werden, können wir es schaffen."
20194,He said little of the BBC's output was now formally classified as education - he said it was 1% of its TV output and 0.1% on radio - and it should take a lead from public service broadcasters in A...,"Er sagte, nur wenig von der BBC-Produktion würde jetzt offiziell als Bildung klassifiziert - er sagte, dass es 1 % ihrer TV-Produktion und 0,1 % im Radio seien - und sie sollte sich an den öffentl..."
9684,"In attendance was, among others, Mitch McConnell, the Senate's top Republican and an avowed opponent of the healthcare law.","Dienst hatte unter anderem Mitch McConnell, der Fraktionschef der Republikaner im Senat und ein erklärter Gegner der Gesundheitsreform"
15910,"""Our current policy is that electronic devices cannot be used during take-off and landing and we have no immediate plans to change that,"" it said.","„Unsere derzeitigen Richtlinien sehen vor, dass elektronische Geräte beim Start und der Landung nicht verwendet werden dürfen, und wir haben zurzeit keine Pläne, das zu ändern“, erklärte das Unter..."
7783,An Elysée mandate tells a different story.,Ein Mandat im Elysée ruft das nächste herbei.
6062,"Great when a film has several target groups, but a shame if they are mutually exclusive.","Schön, wenn ein Film mehrere Zielgruppen hat, schade nur, wenn sie sich gegenseitig ausschließen."
19277,"""It really is for me,"" said Spielberg, ""inarguably the greatest time travel movie ever put on film.""","""Es ist für mich wirklich"", sagte Spielberg, ""unstrittig der größte Zeitreise-Film, der jemals gedreht wurde."""
9286,Their lives flicker here like votive candles lighted in a church; new ones are added to the mix while some wink out.,"Jedes dieser Leben flackert auf wie die Votivkerzen in einer Kirche, einige kommen hinzu, während andern erlöschen."
7465,Rivers under close surveillance,Flüsse unter strenger Überwachung

### 5d)- Saving file

In [37]:
df_combine.to_pickle('full_data.pkl')

In [38]:
# Load again to check
df=pd.read_pickle('full_data.pkl')

In [39]:
df.head(15)

,eng,ger
0,Prague Stock Market falls to minus by the end of the trading day,Die Prager Börse stürzt gegen Geschäftsschluss ins Minus.
1,After a sharp drop in the morning,Nach dem steilen Abfall am Morgen konnte die Prager Börse die Verluste korrigieren.
2,Transactions with stocks from the Czech Energy Enterprise (ČEZ) reached nearly half of the regular daily trading.,Die Transaktionen mit den Aktien von ČEZ erreichten fast die Hälfte des normalen Tagesgeschäfts.
3,The Prague Stock Market immediately continued its fall from Monday at the beginning of Tuesday's trading,Die Prager Börse knüpfte gleich zu Beginn der Dienstagsgeschäfte an den Einbruch vom Montag an
4,This time the fall in stocks on Wall Street is responsible for the drop.,Diesmal lag der Grund für den Einbruch an der Wall Street.
5,The reaction of the market to the results of the vote in the American House of Representatives,Auch in Tschechien zeigt sich so die Reaktion des Marktes auf das Ergebnis der Abstimmung des amerikanischen Repräsentantenhauses
6,Stocks fall in Asia,Fall der Aktien in Asien
7,Stocks in the Asian markets experienced a dramatic drop on Tuesday,Einen dramatischen Fall erlebten am Dienstag die Aktien an den Börsen in Asien
8,The Hang Seng Index of the Hong Kong Stock Exchange wrote off nearly four percent during the day,Der Index der Hang Seng Börse in Hongkong verlor im Laufe des Geschäftstages fast vier Prozentpunkte
9,The Hang Seng China Enterprises Index,Der Index Hang Seng China Enterprises
10,Stocks on the market in Sydney lost more than five percent,Die Aktien an der Börse in Sydney verloren mehr als fünf Prozent
11,The stock exchange in Taiwan dropped by 3.6 percent according to the local index.,Die Börse in Taiwan sank nach dem dortigen Index um 3
12,"""The timing of the bailout action in the USA is uncertain and it will influence financial markets all over the world","""Das Timing für die Rettungsaktion in den USA ist unsicher und wird die Finanzmärkte weltweit beeinflussen"""
13,Despite the fact that it is a part of China,Hongkong bestimmt
14,Hong Kong has interest rates at the same level as the United States.,Die Zinssätze in Hongkong bewegen sich auf demselben Niveau wie die in den Vereinigten Staaten.

Now we are ready for next stage i.e modeling